<template>
  <div>
    <h2>Form:</h2>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <input type="text" class="form-control" placeholder="FirstName" aria-label="FirstName"
             aria-describedby="addon-wrapping" v-model='firstName' v-on:focus="$emit('emptyNotifyEvent')">
    </div>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <input type="text" class="form-control" placeholder="LastName" aria-label="LastName"
             aria-describedby="addon-wrapping" v-model='lastName' v-on:focus="$emit('emptyNotifyEvent')">
    </div>
    <div class="messageError text-danger">{{ error }}</div>
    <div class="messageSuccess text-success">{{ success }}</div>
    <br/>

    <div ml-2>
      <button type="button" @click="save" class="btn btn-success">Add</button>
    </div>

    <br/>
    <br/>
  </div>
</template>

<script>

export default {
  name: 'FormComponent',
  data() {
    return {
      firstName: '',
      lastName: ''
    }
  },
  props: {
    success: {
      type: String,
      default: ''
    },
    error: {
      type: String,
      default: ''
    },
  },
  methods: {
    save() {
      this.$emit('addDataEvent', this.firstName, this.lastName)
      this.firstName=''
      this.lastName=''
    }
  }
}
</script>

<style scoped></style>