<template>
  <div>
    <table class="table" v-if='listData.length'>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for='(item, index) in listData' :key='index'>
        <th scope="row">{{ index + 1 }}</th>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>
          <button type="button" class="btn btn-danger" @click="$emit('deleteDataEvent', index)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-center" v-else>Không có dữ liệu</div>
  </div>
</template>

<script>

export default {
  name: 'TableComponent',
  props: {
    listData: {
      type: Array,
      default: null,
    }
  },
  methods: {
  }
}
</script>

<style scoped></style>