<template>
  <div id="app">
    <FormComponent :firstName='firstName'
                   :lastName='lastName'
                   :success='success'
                   :error='error'
                   @addDataEvent="add"
                   @emptyNotifyEvent="emptyNotify"

    />
    <TableComponent :listData='listData' @deleteDataEvent="deleteData"/>
  </div>
</template>

<script>
import FormComponent from '@/components/FormComponent'
import TableComponent from "@/components/TableComponent";

export default {
  name: 'App',
  data() {
    return {
      firstName: '',
      lastName: '',
      success: '',
      error: '',
      listData: [],
    }
  },
  components: {
    TableComponent,
    FormComponent
  },
  methods: {
    add(firstName, lastName) {
      this.success = ''
      this.error = ''
      if (firstName !== '' && lastName !== '') {
        this.listData = [{firstName: firstName, lastName: lastName}, ...this.listData,]
        this.success = 'Bạn đã thêm thành công!'
      } else {
        this.error = 'Không được để trống!'
      }
      this.firstName = ''
      this.lastName = ''
    },

    emptyNotify() {
      this.success = ''
      this.error = ''
    },

    deleteData(index) {
      console.log(1)
      this.listData = this.listData.filter((i, j) => j !== index)
    }
  },
}
</script>

<style>
</style>
